body.exercicio{

}
.principal{
    font-family: 'Roboto', serif;
   
}
.principal a{
    text-decoration: none;
    cursor: pointer;
}
.conteudo a:hover{
    background-color: #4caf50;
}



.conteudo{
    font-size: 1rem;
    font-family: 'Roboto', serif;
    
}

.conteudo > .titulo{
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    
}

