body.login{
    grid-template-rows: 120px 1fr 60px;
    grid-template-areas: "header" "principal" "footer";

}
body.login .principal{
    height: calc(100vh - 180px);
   
}
h3{
    font-size: 2.1rem;
    margin: 20px;
}

form > div{
    padding-bottom: 15px;
}

label, input, button{
    font-size: 1.2rem;
    border-radius: 5px;
    
}

button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #fff;
    background-color: rgb(25, 38, 123);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.conteudo{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.erros > p{
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
    background-color:red;
    padding: 10px 25px;
    margin-top: 0px;
}




